In [2]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd

## DATA CLEANING AND DATA RETRIEVAL

In [3]:
df = pd.read_excel('E:/Upgrad_DataScience/Hackathon/DataSet/Cleaned/InnByInn_Data.xlsx')
df['Result'] = df[' Result']
a = df[df['Start Date'].notnull()].index
df.drop(df[df['Year'].isnull()].index,inplace=True)
df['Year'] = df['Year'].apply(lambda x:int(x))
df['Date'] = df.loc[a,['Start Date','Year']].astype(str).apply(lambda x:x['Start Date']+" "+x.Year,axis=1)
df.drop([' Result','Year','Start Date'],axis=1,inplace=True)
df1 = pd.read_excel('E:/Upgrad_DataScience/Hackathon/DataSet/Cleaned/InnByInn_Data2Page.xlsx')
df1['Date'] = df1.loc[:,['Date','Year']].astype(str).apply(lambda x:x['Date']+" "+x.Year,axis=1)
df1['Inns'] = df1['Inns ']
df1.drop(['Year','Inns '],axis=1,inplace=True)
ind_innbyinn = pd.concat([df,df1])
ind_innbyinn.reset_index(inplace=True,drop=True)
ind_innbyinn['Date'] = pd.to_datetime(ind_innbyinn['Date'])
ind_innbyinn.info()
ind_innbyinn.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 9 columns):
Date      56 non-null datetime64[ns]
Ground    56 non-null object
Inns      56 non-null float64
Opp       56 non-null object
Overs     56 non-null float64
RPO       56 non-null float64
Result    56 non-null object
Score     56 non-null object
Team      56 non-null object
dtypes: datetime64[ns](1), float64(3), object(5)
memory usage: 4.0+ KB

,Date,Ground,Inns,Opp,Overs,RPO,Result,Score,Team
0,2013-11-02,Bengaluru,1.0,Australia,50.0,7.66,won,383/6,India
1,2013-10-16,Jaipur,2.0,Australia,43.3,8.32,won,362/1,India
2,2009-10-28,Nagpur,1.0,Australia,50.0,7.08,won,354/7,India
3,2013-10-30,Nagpur,2.0,Australia,49.3,7.09,won,351/4,India
4,2009-11-05,Hyderabad (Deccan),2.0,Australia,49.4,6.98,lost,347,India

In [4]:
df = pd.read_excel('E:/Upgrad_DataScience/Hackathon/DataSet/Cleaned/InnByInn_AusData.xlsx')
df['Date'] = df['Start Date']
df['Inns'] = df['Inns Result'].astype(str).str.split(' ',expand=True)[0]
df['Result'] = df['Inns Result'].astype(str).str.split(' ',expand=True)[1]
df.drop(['Start Date','Inns Result'],axis=1,inplace=True)
df1 = pd.read_excel('E:/Upgrad_DataScience/Hackathon/DataSet/Cleaned/InnByInn_AusData2Page.xlsx')
df1['Date'] = df1['Start Date']
df1['Inns'] = df1['Inns Result'].astype(str).str.split(' ',expand=True)[0]
df1['Result'] = df1['Inns Result'].astype(str).str.split(' ',expand=True)[1]
df1.drop(['Start Date','Inns Result'],axis=1,inplace=True)
aus_innbyinn = pd.concat([df,df1])
aus_innbyinn.reset_index(inplace=True,drop=True)
aus_innbyinn['Date'] = pd.to_datetime(aus_innbyinn['Date'])
aus_innbyinn.info()
aus_innbyinn.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 9 columns):
Team      56 non-null object
Score     56 non-null object
Overs     56 non-null float64
RPO       56 non-null object
Opp       56 non-null object
Ground    56 non-null object
Date      56 non-null datetime64[ns]
Inns      56 non-null object
Result    56 non-null object
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 4.0+ KB

,Team,Score,Overs,RPO,Opp,Ground,Date,Inns,Result
0,Australia,359/5,50.0,7.18,India,Jaipur,2013-10-16,1,lost
1,Australia,350/4,50.0,7,India,Hyderabad (Deccan),2009-11-05,1,won
2,Australia,350/6,50.0,7,India,Nagpur,2013-10-30,1,lost
3,Australia,347/2,50.0,6.94,India,Bengaluru,2003-11-12,1,won
4,Australia,338/4,50.0,6.76,India,Visakhapatnam,2001-04-03,1,won

In [5]:
ind_innbyinn = ind_innbyinn[aus_innbyinn.columns.tolist()]
ind_innbyinn.head()
master_Matches_InnByInn = pd.concat([ind_innbyinn,aus_innbyinn])
master_Matches_InnByInn.reset_index(inplace=True,drop=True)
master_Matches_InnByInn.to_csv('E:/Upgrad_DataScience/Hackathon/DataSet/Merged/MatchesInnbyInn_Master.csv',index=False)
master_Matches_InnByInn.info()
master_Matches_InnByInn.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 9 columns):
Team      112 non-null object
Score     112 non-null object
Overs     112 non-null float64
RPO       112 non-null object
Opp       112 non-null object
Ground    112 non-null object
Date      112 non-null datetime64[ns]
Inns      112 non-null object
Result    112 non-null object
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 8.0+ KB

,Team,Score,Overs,RPO,Opp,Ground,Date,Inns,Result
0,India,383/6,50.0,7.66,Australia,Bengaluru,2013-11-02,1,won
1,India,362/1,43.3,8.32,Australia,Jaipur,2013-10-16,2,won
2,India,354/7,50.0,7.08,Australia,Nagpur,2009-10-28,1,won
3,India,351/4,49.3,7.09,Australia,Nagpur,2013-10-30,2,won
4,India,347,49.4,6.98,Australia,Hyderabad (Deccan),2009-11-05,2,lost

In [6]:
df = pd.read_excel('E:/Upgrad_DataScience/Hackathon/DataSet/Cleaned/BySeason_WinLossCount.xlsx')
df1 =  pd.read_excel('E:/Upgrad_DataScience/Hackathon/DataSet/Cleaned/BySeason_AusWinLossCount.xlsx')
master_Season_IndvsAus = pd.concat([df,df1])
master_Season_IndvsAus.reset_index(inplace=True,drop=True)
master_Season_IndvsAus.to_csv('E:/Upgrad_DataScience/Hackathon/DataSet/Merged/SeasonIndVsAus_Master.csv',index=False)
master_Season_IndvsAus.info()
master_Season_IndvsAus.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 13 columns):
Team      30 non-null object
Mat       30 non-null int64
Won       30 non-null int64
Lost      30 non-null int64
Tied      30 non-null int64
NR        30 non-null int64
W/L       30 non-null object
Ave       30 non-null float64
RPO       30 non-null float64
Inns      30 non-null int64
HS        30 non-null int64
LS        30 non-null object
Season    30 non-null object
dtypes: float64(2), int64(7), object(4)
memory usage: 3.1+ KB

    Team  Mat  Won  Lost  Tied  NR  W/L    Ave   RPO  Inns   HS   LS   Season
0  India    5    0     3     0   2    0  24.51  4.67     5  235  172  1984/85
1  India    6    3     2     0   1  1.5  34.54  5.08     6  260  193  1986/87
2  India    2    1     1     0   0    1  34.87  5.58     2  289  269  1987/88
3  India    1    1     0     0   0    -  35.57  5.27     1  249    -  1989/90
4  India    1    0     1     0   0    0  24.20  5.04     1  242  242  1995/96

# Loading master Datasets

In [7]:
matches = pd.read_csv('E:/Upgrad_DataScience/Hackathon/DataSet/Merged/MatchesInnbyInn_Master.csv')
matches.Inns = matches.Inns.apply(lambda x:int(x))
code = {'won':1,'lost':-1,'n/r':0}
matches['Result_bi'] = matches['Result'].map(code)
matches['Date'] = pd.to_datetime(matches['Date'])
matches['Year'] = matches['Date'].apply(lambda x:x.year)
matches['Overs'] = matches['Overs'].apply(lambda x:float(x))
matches['RPO'] = matches['RPO'].str.replace('-','0',case=False,regex=False)
matches['RPO'] = matches['RPO'].apply(lambda x:float(x))
matches['Score'] = matches['Score'].str.replace('TDNB','-1',case=False,regex=False)
matches['Score'] = matches['Score'].str.replace('DNB','-1',case=False,regex=False)
matches['Wickets'] = matches['Score'].str.split('/',expand=True)[1]
matches['Score'] = matches['Score'].str.split('/',expand=True)[0]
matches['Wickets'] = matches['Wickets'].fillna('10')
matches['Wickets'] = matches['Wickets'].apply(lambda x:int(x))
matches['Score'] = matches['Score'].apply(lambda x:int(x))
matches.info()
matches.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 12 columns):
Team         112 non-null object
Score        112 non-null int64
Overs        112 non-null float64
RPO          112 non-null float64
Opp          112 non-null object
Ground       112 non-null object
Date         112 non-null datetime64[ns]
Inns         112 non-null int64
Result       112 non-null object
Result_bi    112 non-null int64
Year         112 non-null int64
Wickets      112 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(5), object(4)
memory usage: 10.6+ KB

,Team,Score,Overs,RPO,Opp,Ground,Date,Inns,Result,Result_bi,Year,Wickets
0,India,383,50.0,7.66,Australia,Bengaluru,2013-11-02,1,won,1,2013,6
1,India,362,43.3,8.32,Australia,Jaipur,2013-10-16,2,won,1,2013,1
2,India,354,50.0,7.08,Australia,Nagpur,2009-10-28,1,won,1,2009,7
3,India,351,49.3,7.09,Australia,Nagpur,2013-10-30,2,won,1,2013,4
4,India,347,49.4,6.98,Australia,Hyderabad (Deccan),2009-11-05,2,lost,-1,2009,10

In [8]:
seriesIndvsAus = pd.read_csv('E:/Upgrad_DataScience/Hackathon/DataSet/Merged/SeasonIndVsAus_Master.csv')
seriesIndvsAus['Season'] = seriesIndvsAus['Season'].astype(str).str.split('/',expand=True)[0]
seriesIndvsAus['Season'] = pd.to_datetime(seriesIndvsAus['Season'])
seriesIndvsAus['Year'] = seriesIndvsAus['Season'].apply(lambda x:x.year)
seriesIndvsAus['LS'] = seriesIndvsAus['LS'].str.replace('-','0',regex=False)
seriesIndvsAus['LS'] = seriesIndvsAus['LS'].apply(lambda x:int(x))
seriesIndvsAus['Win%'] = round(100*(seriesIndvsAus['Won']/seriesIndvsAus['Mat']),1)
newrow = seriesIndvsAus.loc[(seriesIndvsAus['Year'] == 2010)].copy()
newrow.Year = pd.to_numeric('2011',downcast='integer')
newrow.Season = pd.to_datetime('2011-01-01')
seriesIndvsAus = seriesIndvsAus.append(newrow,ignore_index=True)
newrow = seriesIndvsAus.loc[(seriesIndvsAus['Year'] == 1997)].copy()
newrow.Year = pd.to_numeric('1998',downcast='integer')
newrow.Season = pd.to_datetime('1998-01-01')
seriesIndvsAus = seriesIndvsAus.append(newrow,ignore_index=True)
newrow = seriesIndvsAus.loc[(seriesIndvsAus['Year'] == 2000)].copy()
newrow.Year = pd.to_numeric('2001',downcast='integer')
newrow.Season = pd.to_datetime('2001-01-01')
seriesIndvsAus = seriesIndvsAus.append(newrow,ignore_index=True)
pd.DataFrame(seriesIndvsAus[seriesIndvsAus.Team=='India'].sort_values(by='Year',ascending=False))
seriesIndvsAus.info()
seriesIndvsAus.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 15 columns):
Team      36 non-null object
Mat       36 non-null int64
Won       36 non-null int64
Lost      36 non-null int64
Tied      36 non-null int64
NR        36 non-null int64
W/L       36 non-null object
Ave       36 non-null float64
RPO       36 non-null float64
Inns      36 non-null int64
HS        36 non-null int64
LS        36 non-null int64
Season    36 non-null datetime64[ns]
Year      36 non-null int64
Win%      36 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(9), object(2)
memory usage: 4.3+ KB

,Team,Mat,Won,Lost,Tied,NR,W/L,Ave,RPO,Inns,HS,LS,Season,Year,Win%
0,India,5,0,3,0,2,0,24.51,4.67,5,235,172,1984-01-01,1984,0.0
1,India,6,3,2,0,1,1.5,34.54,5.08,6,260,193,1986-01-01,1986,50.0
2,India,2,1,1,0,0,1,34.87,5.58,2,289,269,1987-01-01,1987,50.0
3,India,1,1,0,0,0,-,35.57,5.27,1,249,0,1989-01-01,1989,100.0
4,India,1,0,1,0,0,0,24.20,5.04,1,242,242,1995-01-01,1995,0.0
5,India,2,2,0,0,0,-,36.07,5.10,2,289,0,1996-01-01,1996,100.0
6,India,3,2,1,0,0,2,39.94,5.27,3,309,227,1997-01-01,1997,66.7
7,India,5,2,3,0,0,0.666,31.90,5.60,5,315,245,2000-01-01,2000,40.0
8,India,4,1,3,0,0,0.333,29.57,5.18,4,286,198,2003-01-01,2003,25.0
9,India,1,0,1,0,0,0,31.12,4.98,1,249,0,2006-01-01,2006,0.0

In [9]:
a=set(matches['Year'].unique())
b=set(seriesIndvsAus['Year'].unique())
matches_Master = pd.merge(matches,seriesIndvsAus[['Team','Year','Mat','Won','Lost','Tied','NR','Win%','Ave','HS','LS']],how='inner',on=['Year','Team'])
matches_Master.info()
matches_Master.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112 entries, 0 to 111
Data columns (total 21 columns):
Team         112 non-null object
Score        112 non-null int64
Overs        112 non-null float64
RPO          112 non-null float64
Opp          112 non-null object
Ground       112 non-null object
Date         112 non-null datetime64[ns]
Inns         112 non-null int64
Result       112 non-null object
Result_bi    112 non-null int64
Year         112 non-null int64
Wickets      112 non-null int64
Mat          112 non-null int64
Won          112 non-null int64
Lost         112 non-null int64
Tied         112 non-null int64
NR           112 non-null int64
Win%         112 non-null float64
Ave          112 non-null float64
HS           112 non-null int64
LS           112 non-null int64
dtypes: datetime64[ns](1), float64(4), int64(12), object(4)
memory usage: 19.2+ KB

,Team,Score,Overs,RPO,Opp,Ground,Date,Inns,Result,Result_bi,...,Wickets,Mat,Won,Lost,Tied,NR,Win%,Ave,HS,LS
0,India,383,50.0,7.66,Australia,Bengaluru,2013-11-02,1,won,1,...,6,6,3,2,0,1,50.0,55.26,383,232
1,India,362,43.3,8.32,Australia,Jaipur,2013-10-16,2,won,1,...,1,6,3,2,0,1,50.0,55.26,383,232
2,India,351,49.3,7.09,Australia,Nagpur,2013-10-30,2,won,1,...,4,6,3,2,0,1,50.0,55.26,383,232
3,India,303,50.0,6.06,Australia,Mohali,2013-10-19,1,lost,-1,...,9,6,3,2,0,1,50.0,55.26,383,232
4,India,232,49.4,4.67,Australia,Pune,2013-10-13,2,lost,-1,...,10,6,3,2,0,1,50.0,55.26,383,232

In [10]:
indMatches_Master = matches_Master[(matches_Master.Team == 'India')]
encode = {'Team': {'Australia':0,'India':1},
          'Opp': {'Australia':0,'India':1},
         'Ground':{'Bengaluru':0,'Jaipur':1,'Nagpur':2,'Mohali':3,'Pune':4,'Ranchi':5,'Hyderabad (Deccan)':6,'Vadodara':7,'Delhi':8,'Guwahati':9,'Indore':10,'Margao':11,'Visakhapatnam':12,'Chennai':13,'Kolkata':14,'Kochi':15,'Kanpur':16,'Chandigarh':17,'Mumbai':18,'Gwalior':19,'Ahmedabad':20,'Rajkot':21,'Srinagar':22,'Thiruvananthapuram':23,'New Delhi':24,'Jamshedpur':25}}
indMatches_Master.replace(encode, inplace=True)
winner_code = {'Team':{'Australia':0,'India':1,'Draw':-1}}
dicVal = winner_code['Team']

In [11]:
code ={'2017':9.5,'2013':8.5,'2011':9,'2009':7,'2010':9,'2001':7,'2003':6.5,'1998':7,'2007':6,'1987':7,'1996':7.5,'1986':7.5,'1989':7.5,'2006':7,'1984':6.5}
code1 ={'2017':6.5,'2013':7,'2011':7,'2009':9,'2010':7,'2001':8.5,'2003':9.5,'1998':6.5,'2007':9,'1987':7,'1996':6.5,'1986':7,'1989':6,'2006':8.5,'1984':8}
indMatches_Master['Ind_Rating'] = indMatches_Master['Year'].astype(str).map(code)
indMatches_Master['Aus_Rating'] = indMatches_Master['Year'].astype(str).map(code1)

In [13]:
#Import models from scikit learn module:
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import KFold   #For K-fold cross validation
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn import metrics

#Generic function for making a classification model and accessing performance:
def classification_model(model, data, predictors, outcome):
  model.fit(data[predictors],data[outcome])
  predictions = model.predict(data[predictors])
  kf = KFold(data.shape[0], n_folds=5)
  error = []
  for train, test in kf:
    train_predictors = (data[predictors].iloc[train,:])
    train_target = data[outcome].iloc[train]
    model.fit(train_predictors, train_target)
    error.append(model.score(data[predictors].iloc[test,:], data[outcome].iloc[test]))
 
  print('Cross-Validation Score : %s' % '{0:.3%}'.format(np.mean(error)))
  model.fit(data[predictors],data[outcome])

model = RandomForestClassifier(n_estimators=100)
outcome_var = ['Result_bi']
predictor_var = ['Ground','Ind_Rating','Aus_Rating']
classification_model(model, indMatches_Master,predictor_var,outcome_var)
imp_input = pd.Series(model.feature_importances_, index=predictor_var).sort_values(ascending=False)
print(imp_input)

Team='India'
Opp='Australia'
input=['6','8.5','7']
input = np.array(input).reshape((1, -1))
outcome=model.predict(input)
print('\n\nMatch  Result')
print(list(dicVal.keys())[list(dicVal.values()).index(outcome)])
input=['2','8.5','7']
input = np.array(input).reshape((1, -1))
outcome=model.predict(input)
print('\nMatch  Result')
print(list(dicVal.keys())[list(dicVal.values()).index(outcome)])
input=['5','9.5','7']
input = np.array(input).reshape((1, -1))
outcome=model.predict(input)
print('\nMatch  Result')
print(list(dicVal.keys())[list(dicVal.values()).index(outcome)])
input=['3','9.5','7']
input = np.array(input).reshape((1, -1))
outcome=model.predict(input)
print('\nMatch  Result')
print(list(dicVal.keys())[list(dicVal.values()).index(outcome)])
input=['8','9.5','7']
input = np.array(input).reshape((1, -1))
outcome=model.predict(input)
print('\nMatch  Result')
print(list(dicVal.keys())[list(dicVal.values()).index(outcome)])
print('\n\n India - 4 Australia - 1')

Cross-Validation Score : 55.303%
Ground        0.614698
Ind_Rating    0.204056
Aus_Rating    0.181247
dtype: float64
Match  Result
Australia

Match  Result
India

Match  Result
India

Match  Result
India

Match  Result
India


 India - 4 Australia - 1

In [14]:
batting = pd.read_csv('E:/Upgrad_DataScience/Hackathon/DataSet/Batting&Bowling/Batting_series.csv')
batting.rename(columns={'100':'100s','50':'50s','0':'0s','NO':'Notouts','Start Date':'Date'},inplace=True)
a = batting[batting.loc[:,batting.columns[1:15]].isnull().all(axis=1) ==  True].index
series =  batting['Player'].tolist()
batting.drop(a,axis=0,inplace=True)
batting['Series'] = series[1::2]
batting.reset_index(inplace=True,drop=True)
batting['Date'] = pd.to_datetime(batting['Date'])
batting['Year'] = batting.Date.apply(lambda x:x.year)

batting['Year'] = batting.Year.apply(lambda x:int(x))
batting['Mat'] = batting.Mat.apply(lambda x:int(x))
batting['Inns'] = batting.Inns.apply(lambda x:int(x))
batting['Notouts'] = batting.Notouts.apply(lambda x:int(x))
batting['Runs'] = batting.Runs.apply(lambda x:int(x))
batting['100s'] = batting['100s'].apply(lambda x:int(x))
batting['50s'] = batting['50s'].apply(lambda x:int(x))
batting['0s'] = batting['0s'].apply(lambda x:int(x))
batting['4s'] = batting['4s'].apply(lambda x:int(x))
batting['6s'] = batting['6s'].apply(lambda x:int(x))
batting['HS'] = batting['HS'].str.replace('*','',regex=False).apply(lambda x:int(x))
batting['Ave'] = batting['Ave'].str.replace('-','0',regex=False).apply(lambda x:float(x))

batting.info()
batting.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 18 columns):
Player     200 non-null object
Mat        200 non-null int64
Inns       200 non-null int64
Notouts    200 non-null int64
Runs       200 non-null int64
HS         200 non-null int64
Ave        200 non-null float64
BF         200 non-null float64
SR         200 non-null float64
100s       200 non-null int64
50s        200 non-null int64
0s         200 non-null int64
4s         200 non-null int64
6s         200 non-null int64
Date       200 non-null datetime64[ns]
Winner     200 non-null object
Series     200 non-null object
Year       200 non-null int64
dtypes: datetime64[ns](1), float64(3), int64(11), object(3)
memory usage: 28.2+ KB

,Player,Mat,Inns,Notouts,Runs,HS,Ave,BF,SR,100s,50s,0s,4s,6s,Date,Winner,Series,Year
0,V Kohli (INDIA),6,6,3,558,160,186.00,561.0,99.46,3,1,0,54,6,2018-02-01,India,"India in South Africa ODI Series, 2017/18",2018
1,V Kohli (INDIA),5,5,2,453,157,151.00,401.0,112.96,3,0,0,52,7,2018-10-21,India,"West Indies in India ODI Series, 2018/19",2018
2,RG Sharma (INDIA),5,5,1,441,171,110.25,434.0,101.61,2,1,0,35,14,2016-01-12,Australia,"India in Australia ODI Series, 2015/16",2016
3,SPD Smith (AUS),7,6,1,397,105,79.40,430.0,92.32,1,4,0,36,4,2015-02-28,Australia,ICC Cricket World Cup (in Australia/New Zealan...,2015
4,RG Sharma (INDIA),5,5,2,389,162,129.66,327.0,118.96,2,1,0,43,16,2018-10-21,India,"West Indies in India ODI Series, 2018/19",2018

In [15]:
batting1 = pd.read_csv('E:/Upgrad_DataScience/Hackathon/DataSet/Batting&Bowling/Batting_series2Page.csv')
batting1.rename(columns={'100':'100s','50':'50s','0':'0s','NO':'Notouts','Start Date':'Date'},inplace=True)
a = batting1[batting1.loc[:,batting1.columns[1:15]].isnull().all(axis=1) ==  True].index
series =  batting1['Player'].tolist()
batting1.drop(a,axis=0,inplace=True)
batting1['Series'] = series[1::2]
batting1.reset_index(inplace=True,drop=True)
batting1['Date'] = pd.to_datetime(batting1['Date'])
batting1['Year'] = batting1.Date.apply(lambda x:x.year)

batting1['Year'] = batting1.Year.apply(lambda x:int(x))
batting1['Mat'] = batting1.Mat.apply(lambda x:int(x))
batting1['Inns'] = batting1.Inns.apply(lambda x:int(x))
batting1['Notouts'] = batting1.Notouts.apply(lambda x:int(x))
batting1['Runs'] = batting1.Runs.apply(lambda x:int(x))
batting1['100s'] = batting1['100s'].apply(lambda x:int(x))
batting1['50s'] = batting1['50s'].apply(lambda x:int(x))
batting1['0s'] = batting1['0s'].apply(lambda x:int(x))
batting1['4s'] = batting1['4s'].apply(lambda x:int(x))
batting1['6s'] = batting1['6s'].apply(lambda x:int(x))
batting1['HS'] = batting1['HS'].str.replace('*','',regex=False).apply(lambda x:int(x))
batting1['Ave'] = batting1['Ave'].str.replace('-','0',regex=False).apply(lambda x:float(x))
batting1.info()
batting1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 18 columns):
Player     200 non-null object
Mat        200 non-null int64
Inns       200 non-null int64
Notouts    200 non-null int64
Runs       200 non-null int64
HS         200 non-null int64
Ave        200 non-null float64
BF         200 non-null float64
SR         200 non-null float64
100s       200 non-null int64
50s        200 non-null int64
0s         200 non-null int64
4s         200 non-null int64
6s         200 non-null int64
Date       200 non-null datetime64[ns]
Winner     200 non-null object
Series     200 non-null object
Year       200 non-null int64
dtypes: datetime64[ns](1), float64(3), int64(11), object(3)
memory usage: 28.2+ KB

,Player,Mat,Inns,Notouts,Runs,HS,Ave,BF,SR,100s,50s,0s,4s,6s,Date,Winner,Series,Year
0,SPD Smith (AUS),1,1,1,59,59,0.00,74.0,79.72,0,1,0,6,1,2016-09-27,Australia,Australia v Ireland ODI Match (in South Africa...,2016
1,PSP Handscomb (AUS),3,3,0,59,43,19.66,54.0,109.25,0,0,0,3,1,2017-09-24,India,"Australia in India ODI Series, 2017/18",2017
2,CA Lynn (AUS),3,3,0,59,44,19.66,77.0,76.62,0,0,1,5,2,2018-11-04,South Africa,"South Africa in Australia ODI Series, 2018/19",2018
3,TM Head (AUS),2,2,0,58,53,29.00,87.0,66.66,0,1,0,6,0,2017-01-30,New Zealand,Chappell-Hadlee Trophy [Australia in New Zeala...,2017
4,GJ Maxwell (AUS),3,3,0,58,39,19.33,49.0,118.36,0,0,0,3,6,2017-09-17,India,"Australia in India ODI Series, 2017/18",2017

In [16]:
batting2 = pd.read_csv('E:/Upgrad_DataScience/Hackathon/DataSet/Batting&Bowling/Batting_series3Page.csv')
batting2.rename(columns={'100':'100s','50':'50s','0':'0s','NO':'Notouts','Start Date':'Date'},inplace=True)
a = batting2[batting2.loc[:,batting2.columns[1:15]].isnull().all(axis=1) ==  True].index
series =  batting2['Player'].tolist()
batting2.drop(a,axis=0,inplace=True)
batting2['Series'] = series[1::2]
batting2.reset_index(inplace=True,drop=True)
batting2['Date'] = pd.to_datetime(batting2['Date'])
batting2['Year'] = batting2.Date.apply(lambda x:x.year)

batting2['Year'] = batting2.Year.apply(lambda x:int(x))
batting2['Mat'] = batting2.Mat.apply(lambda x:int(x))
batting2['Inns'] = batting2.Inns.str.replace('-','0',regex=False).apply(lambda x:int(x))
batting2['Notouts'] = batting2.Notouts.str.replace('-','0',regex=False).apply(lambda x:int(x))
batting2['Runs'] = batting2.Runs.str.replace('-','0',regex=False).apply(lambda x:int(x))
batting2['100s'] = batting2['100s'].str.replace('-','0',regex=False).apply(lambda x:int(x))
batting2['50s'] = batting2['50s'].str.replace('-','0',regex=False).apply(lambda x:int(x))
batting2['0s'] = batting2['0s'].str.replace('-','0',regex=False).apply(lambda x:int(x))
batting2['4s'] = batting2['4s'].str.replace('-','0',regex=False).apply(lambda x:int(x))
batting2['6s'] = batting2['6s'].str.replace('-','0',regex=False).apply(lambda x:int(x))
batting2['HS'] = batting2['HS'].str.replace('*','',regex=False)
batting2['HS'] = batting2['HS'].str.replace('-','0',regex=False).apply(lambda x:int(x))
batting2['Ave'] = batting2['Ave'].str.replace('-','0',regex=False).apply(lambda x:float(x))
batting2.info()
batting2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 18 columns):
Player     136 non-null object
Mat        136 non-null int64
Inns       136 non-null int64
Notouts    136 non-null int64
Runs       136 non-null int64
HS         136 non-null int64
Ave        136 non-null float64
BF         136 non-null object
SR         136 non-null object
100s       136 non-null int64
50s        136 non-null int64
0s         136 non-null int64
4s         136 non-null int64
6s         136 non-null int64
Date       136 non-null datetime64[ns]
Winner     136 non-null object
Series     136 non-null object
Year       136 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(11), object(5)
memory usage: 19.2+ KB

,Player,Mat,Inns,Notouts,Runs,HS,Ave,BF,SR,100s,50s,0s,4s,6s,Date,Winner,Series,Year
0,Kuldeep Yadav (INDIA),2,1,0,3,3,3.0,6,50,0,0,0,0,0,2019-01-12,India,"India in Australia ODI Series, 2018/19",2019
1,DS Kulkarni (INDIA),2,1,1,2,2,0.0,2,100,0,0,0,0,0,2015-06-21,Bangladesh,"India in Bangladesh ODI Series, 2015",2015
2,UT Yadav (INDIA),2,1,0,2,2,2.0,11,18.18,0,0,0,0,0,2015-06-18,Bangladesh,"India in Bangladesh ODI Series, 2015",2015
3,GJ Maxwell (AUS),1,1,0,2,2,2.0,6,33.33,0,0,0,0,0,2015-08-27,Australia,"Australia in Ireland ODI Match, 2015",2015
4,MS Wade (AUS),1,1,1,2,2,0.0,2,100,0,0,0,0,0,2015-08-27,Australia,"Australia in Ireland ODI Match, 2015",2015

In [17]:
bowling = pd.read_csv('E:/Upgrad_DataScience/Hackathon/DataSet/Batting&Bowling/Bowling_series.csv')
bowling.rename(columns={'Start Date':'Date'},inplace=True)
a = bowling[bowling.loc[:,bowling.columns[1:15]].isnull().all(axis=1) ==  True].index
series =  bowling['Player'].tolist()
bowling.drop(a,axis=0,inplace=True)
bowling['Series'] = series[1::2]
bowling.reset_index(inplace=True,drop=True)
bowling.drop(['BBI'],axis=1,inplace=True
            )
bowling['Date'] = pd.to_datetime(bowling['Date'])
bowling['Year'] = bowling.Date.apply(lambda x:x.year)

bowling['Year'] = bowling.Year.apply(lambda x:int(x))
bowling['Mat'] = bowling.Mat.apply(lambda x:int(x))
bowling['Inns'] = bowling.Inns.apply(lambda x:int(x))
bowling['Overs'] = bowling.Overs.apply(lambda x:float(x))
bowling['Runs'] = bowling.Runs.apply(lambda x:int(x))
bowling['Mdns'] = bowling['Mdns'].apply(lambda x:int(x))
bowling['Wkts'] = bowling['Wkts'].apply(lambda x:int(x))
bowling['Econ'] = bowling['Econ'].apply(lambda x:float(x))
bowling['SR'] = bowling['SR'].apply(lambda x:float(x))
bowling['4wh'] = bowling['4wh'].apply(lambda x:int(x))
bowling['5wh'] = bowling['5wh'].apply(lambda x:int(x))
bowling['Ave'] = bowling['Ave'].apply(lambda x:float(x))

bowling.info()
bowling.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 16 columns):
Player    200 non-null object
Mat       200 non-null int64
Inns      200 non-null int64
Overs     200 non-null float64
Mdns      200 non-null int64
Runs      200 non-null int64
Wkts      200 non-null int64
Ave       200 non-null float64
Econ      200 non-null float64
SR        200 non-null float64
4wh       200 non-null int64
5wh       200 non-null int64
Date      200 non-null datetime64[ns]
Winner    200 non-null object
Series    200 non-null object
Year      200 non-null int64
dtypes: datetime64[ns](1), float64(4), int64(8), object(3)
memory usage: 25.1+ KB

,Player,Mat,Inns,Overs,Mdns,Runs,Wkts,Ave,Econ,SR,4wh,5wh,Date,Winner,Series,Year
0,MA Starc (AUS),7,7,54.5,2,177,20,8.85,3.22,16.4,1,1,2015-02-28,Australia,ICC Cricket World Cup (in Australia/New Zealan...,2015
1,Kuldeep Yadav (INDIA),6,6,51.0,1,236,17,13.88,4.62,18.0,2,0,2018-02-01,India,"India in South Africa ODI Series, 2017/18",2018
2,UT Yadav (INDIA),6,6,48.2,5,237,16,14.81,4.90,18.1,2,0,2015-02-28,Australia,ICC Cricket World Cup (in Australia/New Zealan...,2015
3,YS Chahal (INDIA),6,6,52.1,1,262,16,16.37,5.02,19.5,1,1,2018-02-01,India,"India in South Africa ODI Series, 2017/18",2018
4,A Mishra (INDIA),5,5,44.5,2,215,15,14.33,4.79,17.9,0,1,2016-10-16,India,"New Zealand in India ODI Series, 2016/17",2016
5,JJ Bumrah (INDIA),5,5,43.2,4,169,15,11.26,3.90,17.3,1,1,2017-08-20,India,"India in Sri Lanka ODI Series, 2017",2017
6,MG Johnson (AUS),7,7,55.3,2,290,13,22.30,5.22,25.6,1,0,2015-02-28,Australia,ICC Cricket World Cup (in Australia/New Zealan...,2015
7,PJ Cummins (AUS),5,5,44.0,2,236,12,19.66,5.36,22.0,2,0,2015-09-03,Australia,"Australia in England ODI Series, 2015",2015
8,MA Starc (AUS),5,5,48.5,2,218,12,18.16,4.46,24.4,0,0,2016-08-21,Australia,"Australia in Sri Lanka ODI Series, 2016",2016
9,Mohammed Shami (INDIA),5,5,44.0,5,229,11,20.81,5.20,24.0,0,0,2015-03-06,Australia,ICC Cricket World Cup (in Australia/New Zealan...,2015

In [18]:
bowling1 = pd.read_csv('E:/Upgrad_DataScience/Hackathon/DataSet/Batting&Bowling/Bowling_series2Page.csv')
bowling1.rename(columns={'Start Date':'Date'},inplace=True)
a = bowling1[bowling1.loc[:,bowling1.columns[1:15]].isnull().all(axis=1) ==  True].index
series =  bowling1['Player'].tolist()
bowling1.drop(a,axis=0,inplace=True)
bowling1['Series'] = series[1::2]
bowling1.reset_index(inplace=True,drop=True)
bowling1.drop(['BBI'],axis=1,inplace=True)
bowling1['Date'] = pd.to_datetime(bowling1['Date'])
bowling1['Year'] = bowling1.Date.apply(lambda x:x.year)

bowling1['Year'] = bowling1.Year.apply(lambda x:int(x))
bowling1['Mat'] = bowling1.Mat.apply(lambda x:int(x))
bowling1['Inns'] = bowling1.Inns.str.replace('-','0',regex=False).apply(lambda x:int(x))
bowling1['Overs'] = bowling1.Overs.str.replace('-','0',regex=False).apply(lambda x:float(x))
bowling1['Runs'] = bowling1.Runs.str.replace('-','0',regex=False).apply(lambda x:int(x))
bowling1['Mdns'] = bowling1['Mdns'].str.replace('-','0',regex=False).apply(lambda x:int(x))
bowling1['Wkts'] = bowling1['Wkts'].str.replace('-','0',regex=False).apply(lambda x:int(x))
bowling1['Econ'] = bowling1['Econ'].str.replace('-','0',regex=False).apply(lambda x:float(x))
bowling1['SR'] = bowling1['SR'].str.replace('-','0',regex=False).apply(lambda x:float(x))
bowling1['4wh'] = bowling1['4wh'].str.replace('-','0',regex=False).apply(lambda x:int(x))
bowling1['5wh'] = bowling1['5wh'].str.replace('-','0',regex=False).apply(lambda x:int(x))
bowling1['Ave'] = bowling1['Ave'].str.replace('-','0',regex=False).apply(lambda x:float(x))

bowling1.info()
bowling1.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 16 columns):
Player    200 non-null object
Mat       200 non-null int64
Inns      200 non-null int64
Overs     200 non-null float64
Mdns      200 non-null int64
Runs      200 non-null int64
Wkts      200 non-null int64
Ave       200 non-null float64
Econ      200 non-null float64
SR        200 non-null float64
4wh       200 non-null int64
5wh       200 non-null int64
Date      200 non-null datetime64[ns]
Winner    200 non-null object
Series    200 non-null object
Year      200 non-null int64
dtypes: datetime64[ns](1), float64(4), int64(8), object(3)
memory usage: 25.1+ KB

,Player,Mat,Inns,Overs,Mdns,Runs,Wkts,Ave,Econ,SR,4wh,5wh,Date,Winner,Series,Year
0,TM Head (AUS),3,2,14.0,0,68,2,34.0,4.85,42.0,0,0,2016-12-04,Australia,Chappell-Hadlee Trophy [New Zealand in Austral...,2016
1,MR Marsh (AUS),3,2,11.2,1,64,2,32.0,5.64,34.0,0,0,2016-12-04,Australia,Chappell-Hadlee Trophy [New Zealand in Austral...,2016
2,A Zampa (AUS),1,1,10.0,0,66,2,33.0,6.60,30.0,0,0,2016-12-04,Australia,Chappell-Hadlee Trophy [New Zealand in Austral...,2016
3,PJ Cummins (AUS),3,3,25.0,2,144,2,72.0,5.76,75.0,0,0,2017-06-02,Pakistan,"ICC Champions Trophy (in England), 2017",2017
4,JW Hastings (AUS),1,1,9.0,0,69,2,34.5,7.66,27.0,0,0,2017-06-02,Pakistan,"ICC Champions Trophy (in England), 2017",2017
5,A Zampa (AUS),2,2,12.2,1,65,2,32.5,5.27,37.0,0,0,2017-06-05,Pakistan,"ICC Champions Trophy (in England), 2017",2017
6,KM Jadhav (INDIA),5,2,4.1,0,13,2,6.5,3.12,12.5,0,0,2017-06-23,India,"India in West Indies ODI Series, 2017",2017
7,B Kumar (INDIA),3,2,10.0,1,28,2,14.0,2.80,30.0,0,0,2017-06-23,India,"India in West Indies ODI Series, 2017",2017
8,AC Agar (AUS),2,2,19.0,0,125,2,62.5,6.57,57.0,0,0,2017-09-21,India,"Australia in India ODI Series, 2017/18",2017
9,KM Jadhav (INDIA),5,2,17.0,0,86,2,43.0,5.05,51.0,0,0,2017-09-17,India,"Australia in India ODI Series, 2017/18",2017

In [19]:
bowling2 = pd.read_csv('E:/Upgrad_DataScience/Hackathon/DataSet/Batting&Bowling/Bowling_series3Page.csv')
bowling2.rename(columns={'Start Date':'Date'},inplace=True)
a = bowling2[bowling2.loc[:,bowling2.columns[1:15]].isnull().all(axis=1) ==  True].index
series =  bowling2['Player'].tolist()
bowling2.drop(a,axis=0,inplace=True)
bowling2['Series'] = series[1::2]
bowling2.reset_index(inplace=True,drop=True)
bowling2.drop(['BBI'],axis=1,inplace=True)
bowling2['Date'] = pd.to_datetime(bowling2['Date'])
bowling2['Year'] = bowling2.Date.apply(lambda x:x.year)

bowling2['Year'] = bowling2.Year.apply(lambda x:int(x))
bowling2['Mat'] = bowling2.Mat.apply(lambda x:int(x))
bowling2['Inns'] = bowling2.Inns.str.replace('-','0',regex=False).apply(lambda x:int(x))
bowling2['Overs'] = bowling2.Overs.str.replace('-','0',regex=False).apply(lambda x:float(x))
bowling2['Runs'] = bowling2.Runs.str.replace('-','0',regex=False).apply(lambda x:int(x))
bowling2['Mdns'] = bowling2['Mdns'].str.replace('-','0',regex=False).apply(lambda x:int(x))
bowling2['Wkts'] = bowling2['Wkts'].str.replace('-','0',regex=False).apply(lambda x:int(x))
bowling2['Econ'] = bowling2['Econ'].str.replace('-','0',regex=False).apply(lambda x:float(x))
bowling2['SR'] = bowling2['SR'].str.replace('-','0',regex=False).apply(lambda x:float(x))
bowling2['4wh'] = bowling2['4wh'].str.replace('-','0',regex=False).apply(lambda x:int(x))
bowling2['5wh'] = bowling2['5wh'].str.replace('-','0',regex=False).apply(lambda x:int(x))
bowling2['Ave'] = bowling2['Ave'].str.replace('-','0',regex=False).apply(lambda x:float(x))

bowling2.info()
bowling2.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 16 columns):
Player    136 non-null object
Mat       136 non-null int64
Inns      136 non-null int64
Overs     136 non-null float64
Mdns      136 non-null int64
Runs      136 non-null int64
Wkts      136 non-null int64
Ave       136 non-null float64
Econ      136 non-null float64
SR        136 non-null float64
4wh       136 non-null int64
5wh       136 non-null int64
Date      136 non-null datetime64[ns]
Winner    136 non-null object
Series    136 non-null object
Year      136 non-null int64
dtypes: datetime64[ns](1), float64(4), int64(8), object(3)
memory usage: 17.1+ KB

,Player,Mat,Inns,Overs,Mdns,Runs,Wkts,Ave,Econ,SR,4wh,5wh,Date,Winner,Series,Year
0,MS Wade (AUS),5,0,0.0,0,0,0,0.0,0.0,0.0,0,0,2016-08-21,Australia,"Australia in Sri Lanka ODI Series, 2016",2016
1,DA Warner (AUS),5,0,0.0,0,0,0,0.0,0.0,0.0,0,0,2016-08-21,Australia,"Australia in Sri Lanka ODI Series, 2016",2016
2,GJ Bailey (AUS),1,0,0.0,0,0,0,0.0,0.0,0.0,0,0,2016-09-27,Australia,Australia v Ireland ODI Match (in South Africa...,2016
3,TM Head (AUS),1,0,0.0,0,0,0,0.0,0.0,0.0,0,0,2016-09-27,Australia,Australia v Ireland ODI Match (in South Africa...,2016
4,UT Khawaja (AUS),1,0,0.0,0,0,0,0.0,0.0,0.0,0,0,2016-09-27,Australia,Australia v Ireland ODI Match (in South Africa...,2016
5,SPD Smith (AUS),1,0,0.0,0,0,0,0.0,0.0,0.0,0,0,2016-09-27,Australia,Australia v Ireland ODI Match (in South Africa...,2016
6,MS Wade (AUS),1,0,0.0,0,0,0,0.0,0.0,0.0,0,0,2016-09-27,Australia,Australia v Ireland ODI Match (in South Africa...,2016
7,DA Warner (AUS),1,0,0.0,0,0,0,0.0,0.0,0.0,0,0,2016-09-27,Australia,Australia v Ireland ODI Match (in South Africa...,2016
8,GJ Bailey (AUS),5,0,0.0,0,0,0,0.0,0.0,0.0,0,0,2016-09-30,South Africa,"Australia in South Africa ODI Series, 2016/17",2016
9,AJ Finch (AUS),5,0,0.0,0,0,0,0.0,0.0,0.0,0,0,2016-09-30,South Africa,"Australia in South Africa ODI Series, 2016/17",2016

In [20]:
master_batting = pd.concat([batting,batting1,batting2])
master_batting.reset_index(inplace=True,drop=True)
master_batting.info()
master_batting.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536 entries, 0 to 535
Data columns (total 18 columns):
Player     536 non-null object
Mat        536 non-null int64
Inns       536 non-null int64
Notouts    536 non-null int64
Runs       536 non-null int64
HS         536 non-null int64
Ave        536 non-null float64
BF         536 non-null object
SR         536 non-null object
100s       536 non-null int64
50s        536 non-null int64
0s         536 non-null int64
4s         536 non-null int64
6s         536 non-null int64
Date       536 non-null datetime64[ns]
Winner     536 non-null object
Series     536 non-null object
Year       536 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(11), object(5)
memory usage: 75.5+ KB

,Player,Mat,Inns,Notouts,Runs,HS,Ave,BF,SR,100s,50s,0s,4s,6s,Date,Winner,Series,Year
0,V Kohli (INDIA),6,6,3,558,160,186.00,561,99.46,3,1,0,54,6,2018-02-01,India,"India in South Africa ODI Series, 2017/18",2018
1,V Kohli (INDIA),5,5,2,453,157,151.00,401,112.96,3,0,0,52,7,2018-10-21,India,"West Indies in India ODI Series, 2018/19",2018
2,RG Sharma (INDIA),5,5,1,441,171,110.25,434,101.61,2,1,0,35,14,2016-01-12,Australia,"India in Australia ODI Series, 2015/16",2016
3,SPD Smith (AUS),7,6,1,397,105,79.40,430,92.32,1,4,0,36,4,2015-02-28,Australia,ICC Cricket World Cup (in Australia/New Zealan...,2015
4,RG Sharma (INDIA),5,5,2,389,162,129.66,327,118.96,2,1,0,43,16,2018-10-21,India,"West Indies in India ODI Series, 2018/19",2018
5,DA Warner (AUS),5,5,0,386,173,77.20,340,113.52,2,1,0,50,4,2016-09-30,South Africa,"Australia in South Africa ODI Series, 2016/17",2016
6,V Kohli (INDIA),5,5,0,381,117,76.20,384,99.21,2,2,0,32,4,2016-01-12,Australia,"India in Australia ODI Series, 2015/16",2016
7,DA Warner (AUS),5,5,0,367,179,73.40,325,112.92,2,0,0,37,7,2017-01-13,Australia,"Pakistan in Australia ODI Series, 2016/17",2017
8,V Kohli (INDIA),5,5,2,358,154,119.33,355,100.84,1,2,0,30,4,2016-10-16,India,"New Zealand in India ODI Series, 2016/17",2016
9,S Dhawan (INDIA),5,5,0,342,127,68.40,335,102.08,2,0,0,44,6,2018-09-18,India,"Asia Cup (Afghanistan, Bangladesh, Hong Kong, ...",2018
10,S Dhawan (INDIA),5,5,0,338,125,67.60,332,101.8,1,2,0,44,4,2017-06-04,Pakistan,"ICC Champions Trophy (in England), 2017",2017
11,AM Rahane (INDIA),5,5,0,336,103,67.20,436,77.06,1,3,0,34,3,2017-06-23,India,"India in West Indies ODI Series, 2017",2017
12,V Kohli (INDIA),5,5,2,330,131,110.00,295,111.86,2,1,0,37,3,2017-08-20,India,"India in Sri Lanka ODI Series, 2017",2017
13,DA Warner (AUS),7,7,1,323,178,53.83,269,120.07,1,0,0,35,9,2015-02-28,Australia,ICC Cricket World Cup (in Australia/New Zealan...,2015
14,S Dhawan (INDIA),6,6,1,323,109,64.60,310,104.19,1,2,0,47,2,2018-02-01,India,"India in South Africa ODI Series, 2017/18",2018
15,RG Sharma (INDIA),5,5,2,317,111,105.66,339,93.51,1,2,0,25,13,2018-09-18,India,"Asia Cup (Afghanistan, Bangladesh, Hong Kong, ...",2018
16,RG Sharma (INDIA),6,6,1,315,137,63.00,334,94.31,1,2,0,31,9,2015-02-28,Australia,ICC Cricket World Cup (in Australia/New Zealan...,2015
17,SPD Smith (AUS),5,5,0,315,149,63.00,293,107.5,1,1,0,27,5,2016-01-12,Australia,"India in Australia ODI Series, 2015/16",2016
18,RG Sharma (INDIA),5,5,1,304,123,76.00,350,86.85,1,2,1,29,7,2017-06-04,Pakistan,"ICC Champions Trophy (in England), 2017",2017
19,RG Sharma (INDIA),5,5,1,302,124,75.50,311,97.1,2,1,0,33,8,2017-08-20,India,"India in Sri Lanka ODI Series, 2017",2017

In [21]:
master_bowling = pd.concat([bowling,bowling1,bowling2])
master_bowling.reset_index(inplace=True,drop=True)
master_bowling.info()
master_bowling.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536 entries, 0 to 535
Data columns (total 16 columns):
Player    536 non-null object
Mat       536 non-null int64
Inns      536 non-null int64
Overs     536 non-null float64
Mdns      536 non-null int64
Runs      536 non-null int64
Wkts      536 non-null int64
Ave       536 non-null float64
Econ      536 non-null float64
SR        536 non-null float64
4wh       536 non-null int64
5wh       536 non-null int64
Date      536 non-null datetime64[ns]
Winner    536 non-null object
Series    536 non-null object
Year      536 non-null int64
dtypes: datetime64[ns](1), float64(4), int64(8), object(3)
memory usage: 67.1+ KB

,Player,Mat,Inns,Overs,Mdns,Runs,Wkts,Ave,Econ,SR,4wh,5wh,Date,Winner,Series,Year
0,MA Starc (AUS),7,7,54.5,2,177,20,8.85,3.22,16.4,1,1,2015-02-28,Australia,ICC Cricket World Cup (in Australia/New Zealan...,2015
1,Kuldeep Yadav (INDIA),6,6,51.0,1,236,17,13.88,4.62,18.0,2,0,2018-02-01,India,"India in South Africa ODI Series, 2017/18",2018
2,UT Yadav (INDIA),6,6,48.2,5,237,16,14.81,4.90,18.1,2,0,2015-02-28,Australia,ICC Cricket World Cup (in Australia/New Zealan...,2015
3,YS Chahal (INDIA),6,6,52.1,1,262,16,16.37,5.02,19.5,1,1,2018-02-01,India,"India in South Africa ODI Series, 2017/18",2018
4,A Mishra (INDIA),5,5,44.5,2,215,15,14.33,4.79,17.9,0,1,2016-10-16,India,"New Zealand in India ODI Series, 2016/17",2016
5,JJ Bumrah (INDIA),5,5,43.2,4,169,15,11.26,3.90,17.3,1,1,2017-08-20,India,"India in Sri Lanka ODI Series, 2017",2017
6,MG Johnson (AUS),7,7,55.3,2,290,13,22.30,5.22,25.6,1,0,2015-02-28,Australia,ICC Cricket World Cup (in Australia/New Zealan...,2015
7,PJ Cummins (AUS),5,5,44.0,2,236,12,19.66,5.36,22.0,2,0,2015-09-03,Australia,"Australia in England ODI Series, 2015",2015
8,MA Starc (AUS),5,5,48.5,2,218,12,18.16,4.46,24.4,0,0,2016-08-21,Australia,"Australia in Sri Lanka ODI Series, 2016",2016
9,Mohammed Shami (INDIA),5,5,44.0,5,229,11,20.81,5.20,24.0,0,0,2015-03-06,Australia,ICC Cricket World Cup (in Australia/New Zealan...,2015
10,JR Hazlewood (AUS),7,6,51.2,7,221,11,20.09,4.30,28.0,0,1,2016-06-05,Australia,"West Indies Tri-Nation Series (Australia, Sout...",2016
11,JP Faulkner (AUS),6,6,41.5,2,197,10,19.70,4.70,25.1,0,0,2015-03-04,Australia,ICC Cricket World Cup (in Australia/New Zealan...,2015
12,JW Hastings (AUS),4,4,38.0,1,215,10,21.50,5.65,22.8,1,0,2016-01-15,Australia,"India in Australia ODI Series, 2015/16",2016
13,A Zampa (AUS),5,5,42.3,0,224,10,22.40,5.27,25.5,0,0,2016-06-05,Australia,"West Indies Tri-Nation Series (Australia, Sout...",2016
14,JP Faulkner (AUS),5,5,45.2,1,196,10,19.60,4.32,27.2,1,0,2016-08-21,Australia,"Australia in Sri Lanka ODI Series, 2016",2016
15,NM Coulter-Nile (AUS),5,5,49.0,0,251,10,25.10,5.12,29.4,0,0,2017-09-17,India,"Australia in India ODI Series, 2017/18",2017
16,Kuldeep Yadav (INDIA),6,6,58.0,2,237,10,23.70,4.08,34.8,0,0,2018-09-18,India,"Asia Cup (Afghanistan, Bangladesh, Hong Kong, ...",2018
17,R Ashwin (INDIA),6,6,59.0,3,248,9,27.55,4.20,39.3,1,0,2015-02-28,Australia,ICC Cricket World Cup (in Australia/New Zealan...,2015
18,MM Sharma (INDIA),6,6,47.0,4,248,9,27.55,5.27,31.3,0,0,2015-02-28,Australia,ICC Cricket World Cup (in Australia/New Zealan...,2015
19,I Sharma (INDIA),4,4,40.0,0,250,9,27.77,6.25,26.6,1,0,2016-01-15,Australia,"India in Australia ODI Series, 2015/16",2016

In [21]:
master_batting['Player'] = master_batting.Player.str.replace('(INDIA)','',regex=False)
master_batting['Player'] = master_batting.Player.str.replace('(AUS)','',regex=False)
master_bowling['Player'] = master_bowling.Player.str.replace('(INDIA)','',regex=False)
master_bowling['Player'] = master_bowling.Player.str.replace('(AUS)','',regex=False)
print(master_bowling.head())
master_batting.head()
#master_bowling.to_csv('E:/Upgrad_DataScience/Hackathon/DataSet/Master_Cleaned/BowlingSeries_Master.csv',index=False)
#master_batting.to_csv('E:/Upgrad_DataScience/Hackathon/DataSet/Master_Cleaned/BattingSeries_Master.csv',index=False)

           Player  Mat  Inns  Overs  Mdns  Runs  Wkts    Ave  Econ    SR  4wh  \
0       MA Starc     7     7   54.5     2   177    20   8.85  3.22  16.4    1
1  Kuldeep Yadav     6     6   51.0     1   236    17  13.88  4.62  18.0    2
2       UT Yadav     6     6   48.2     5   237    16  14.81  4.90  18.1    2
3      YS Chahal     6     6   52.1     1   262    16  16.37  5.02  19.5    1
4       A Mishra     5     5   44.5     2   215    15  14.33  4.79  17.9    0

   5wh       Date     Winner  \
0    1 2015-02-28  Australia
1    0 2018-02-01      India
2    0 2015-02-28  Australia
3    1 2018-02-01      India
4    1 2016-10-16      India

                                              Series  Year
0  ICC Cricket World Cup (in Australia/New Zealan...  2015
1          India in South Africa ODI Series, 2017/18  2018
2  ICC Cricket World Cup (in Australia/New Zealan...  2015
3          India in South Africa ODI Series, 2017/18  2018
4           New Zealand in India ODI Series, 2016/17  2016

,Player,Mat,Inns,Notouts,Runs,HS,Ave,BF,SR,100s,50s,0s,4s,6s,Date,Winner,Series,Year
5,DA Warner,5,5,0,386,173,77.20,340,113.52,2,1,0,50,4,2016-09-30,South Africa,"Australia in South Africa ODI Series, 2016/17",2016
8,V Kohli,5,5,2,358,154,119.33,355,100.84,1,2,0,30,4,2016-10-16,India,"New Zealand in India ODI Series, 2016/17",2016
10,S Dhawan,5,5,0,338,125,67.60,332,101.8,1,2,0,44,4,2017-06-04,Pakistan,"ICC Champions Trophy (in England), 2017",2017
11,AM Rahane,5,5,0,336,103,67.20,436,77.06,1,3,0,34,3,2017-06-23,India,"India in West Indies ODI Series, 2017",2017
12,V Kohli,5,5,2,330,131,110.00,295,111.86,2,1,0,37,3,2017-08-20,India,"India in Sri Lanka ODI Series, 2017",2017

In [100]:
master_batting.groupby(['Player','Year'])['Runs'].sum().sort_values(ascending=False)

Player              Year
V Kohli             2017    1460
DA Warner           2016    1388
RG Sharma           2017    1293
V Kohli             2018    1202
SPD Smith           2016    1154
RG Sharma           2018    1030
S Dhawan            2017     960
                    2018     897
GJ Bailey           2016     808
MS Dhoni            2017     788
V Kohli             2016     739
DA Warner           2017     691
RG Sharma           2015     662
AJ Finch            2016     655
MR Marsh            2016     642
AM Rahane           2017     586
SPD Smith           2015     578
RG Sharma           2016     564
KM Jadhav           2017     561
HH Pandya           2017     557
MS Dhoni            2015     534
MS Wade             2016     518
TM Head             2017     518
DA Warner           2015     501
AM Rahane           2015     497
AJ Finch            2018     493
S Dhawan            2015     486
SPD Smith           2017     449
V Kohli             2015     446
GJ Maxwell          2015     427
                            ...
B Kumar             2016       2
Mohammed Shami      2019       2
DS Kulkarni         2015       2
YS Chahal           2017       1
MA Starc            2015       1
JM Mennie           2016       1
S Kaul              2018       1
Mohammed Shami      2015       1
JP Behrendorff      2019       1
J Yadav             2016       1
R Ashwin            2016       1
B Stanlake          2017       1
PJ Cummins          2016       0
JJ Bumrah           2018       0
                    2016       0
I Sharma            2016       0
NM Coulter-Nile     2015       0
Mohammed Siraj      2019       0
JR Hazlewood        2015       0
SN Thakur           2017       0
YS Chahal           2016       0
Washington Sundar   2017       0
JS Paris            2016       0
UT Yadav            2018       0
JW Hastings         2017       0
KW Richardson       2017       0
Mohammed Shami      2018       0
BB Sran             2016       0
B Stanlake          2019       0
XJ Doherty          2015       0
Name: Runs, Length: 224, dtype: int64

In [130]:
master_bowling.groupby(['Series','Player'])['Wkts'].sum().sort_values(ascending=False)

Series                                                                                                   Player
ICC Cricket World Cup (in Australia/New Zealand), 2014/15                                                MA Starc            20
India in South Africa ODI Series, 2017/18                                                                Kuldeep Yadav       17
                                                                                                         YS Chahal           16
ICC Cricket World Cup (in Australia/New Zealand), 2014/15                                                UT Yadav            16
India in Sri Lanka ODI Series, 2017                                                                      JJ Bumrah           15
New Zealand in India ODI Series, 2016/17                                                                 A Mishra            15
ICC Cricket World Cup (in Australia/New Zealand), 2014/15                                                MG Johnson          13
Australia in England ODI Series, 2015                                                                    PJ Cummins          12
Australia in Sri Lanka ODI Series, 2016                                                                  MA Starc            12
West Indies Tri-Nation Series (Australia, South Africa, West Indies), 2016                               JR Hazlewood        11
ICC Cricket World Cup (in Australia/New Zealand), 2014/15                                                Mohammed Shami      11
Australia in Sri Lanka ODI Series, 2016                                                                  JP Faulkner         10
Australia in India ODI Series, 2017/18                                                                   NM Coulter-Nile     10
Asia Cup (Afghanistan, Bangladesh, Hong Kong, India, Pakistan, Sri Lanka in United Arab Emirates), 2018  Kuldeep Yadav       10
West Indies Tri-Nation Series (Australia, South Africa, West Indies), 2016                               A Zampa             10
India in Australia ODI Series, 2015/16                                                                   JW Hastings         10
ICC Cricket World Cup (in Australia/New Zealand), 2014/15                                                JP Faulkner         10
Australia in Sri Lanka ODI Series, 2016                                                                  JW Hastings          9
India in New Zealand ODI Series, 2018/19                                                                 YS Chahal            9
Australia in Sri Lanka ODI Series, 2016                                                                  A Zampa              9
ICC Champions Trophy (in England), 2017                                                                  JR Hazlewood         9
India in England ODI Series, 2018                                                                        Kuldeep Yadav        9
India in New Zealand ODI Series, 2018/19                                                                 Mohammed Shami       9
Pakistan in Australia ODI Series, 2016/17                                                                MA Starc             9
West Indies in India ODI Series, 2018/19                                                                 Kuldeep Yadav        9
ICC Cricket World Cup (in Australia/New Zealand), 2014/15                                                MM Sharma            9
India in Australia ODI Series, 2015/16                                                                   I Sharma             9
ICC Cricket World Cup (in Australia/New Zealand), 2014/15                                                R Ashwin             9
India in Zimbabwe ODI Series, 2016                                                                       JJ Bumrah            9
India in Australia ODI Series, 2018/19                                                                   B Kumar              8
                                                                                                                             ..
India in New Zealand ODI Series, 2018/19                                                                 MS Dhoni             0
South Africa in India ODI Series, 2015/16                                                                MS Dhoni             0
Pakistan in Australia ODI Series, 2016/17                                                                DA Warner            0
ICC Champions Trophy (in England), 2017                                                                  MS Dhoni             0
India in New Zealand ODI Series, 2018/19                                                                 RG Sharma            0
ICC Champions Trophy (in England), 2017                                                                  MS Wade              0
India in New Zealand ODI Series, 2018/19                                                                 KD Karthik           0
Pakistan in Australia ODI Series, 2016/17                                                                GJ Maxwell           0
ICC Champions Trophy (in England), 2017                                                                  RG Sharma            0
                                                                                                         S Dhawan             0
                                                                                                         SPD Smith            0
                                                                                                         AJ Finch             0
England in India ODI Series, 2016/17                                                                     Yuvraj Singh         0
South Africa in India ODI Series, 2015/16                                                                STR Binny            0
                                                                                                         S Dhawan             0
India in New Zealand ODI Series, 2018/19                                                                 V Shankar            0
                                                                                                         V Kohli              0
England in Australia ODI Series, 2017/18                                                                 SPD Smith            0
                                                                                                         TD Paine             0
                                                                                                         TM Head              0
England in India ODI Series, 2016/17                                                                     AM Rahane            0
South Africa in India ODI Series, 2015/16                                                                RG Sharma            0
England in India ODI Series, 2016/17                                                                     V Kohli              0
                                                                                                         KL Rahul             0
                                                                                                         KM Jadhav            0
                                                                                                         MS Dhoni             0
India in New Zealand ODI Series, 2018/19                                                                 Shubman Gill         0
                                                                                                         S Dhawan             0
England in India ODI Series, 2016/17                                                                     S Dhawan             0
Asia Cup (Afghanistan, Bangladesh, Hong Kong, India, Pakistan, Sri Lanka in United Arab Emirates), 2018  AT Rayudu            0
Name: Wkts, Length: 536, dtype: int64

In [104]:
master_batting.groupby(['Player','Year'])['4s'].sum().sort_values(ascending=False)

Player            Year
DA Warner         2016    148
V Kohli           2017    136
S Dhawan          2018    127
                  2017    124
V Kohli           2018    123
RG Sharma         2017    116
                  2018    104
SPD Smith         2016    102
AJ Finch          2016     72
DA Warner         2017     67
RG Sharma         2015     64
S Dhawan          2015     64
AM Rahane         2017     63
V Kohli           2016     62
KM Jadhav         2017     62
MS Dhoni          2017     60
MR Marsh          2016     60
GJ Bailey         2016     59
AM Rahane         2015     52
SPD Smith         2015     51
DA Warner         2015     50
TM Head           2018     49
RG Sharma         2016     46
Yuvraj Singh      2017     46
TM Head           2017     46
AJ Finch          2017     44
GJ Maxwell        2015     42
SPD Smith         2017     41
MS Dhoni          2015     40
TM Head           2016     40
                         ...
MA Starc          2015      0
MC Henriques      2016      0
I Sharma          2016      0
MG Neser          2018      0
MK Pandey         2018      0
MK Tiwary         2015      0
MP Stoinis        2015      0
MR Marsh          2017      0
Mohammed Shami    2015      0
HWR Cartwright    2017      0
Mohammed Shami    2018      0
                  2019      0
DS Kulkarni       2015      0
KW Richardson     2018      0
Mohammed Siraj    2019      0
NM Coulter-Nile   2015      0
R Ashwin          2015      0
J Yadav           2016      0
NM Coulter-Nile   2017      0
NM Lyon           2018      0
JS Paris          2016      0
KW Richardson     2017      0
PJ Cummins        2016      0
CA Lynn           2017      0
JA Richardson     2018      0
BB Sran           2016      0
B Stanlake        2019      0
                  2018      0
                  2017      0
R Ashwin          2016      0
Name: 4s, Length: 224, dtype: int64

In [105]:
master_batting.groupby(['Player','Year'])['6s'].sum().sort_values(ascending=False)

Player           Year
RG Sharma        2017    46
                 2018    39
HH Pandya        2017    30
DA Warner        2016    22
V Kohli          2017    22
RG Sharma        2015    19
AJ Finch         2016    19
GJ Maxwell       2015    19
MS Dhoni         2017    19
RG Sharma        2016    19
MP Stoinis       2017    18
MR Marsh         2016    15
SPD Smith        2016    15
MS Wade          2016    14
MP Stoinis       2018    14
S Dhawan         2017    14
DA Warner        2017    13
AJ Finch         2018    13
V Kohli          2018    13
RG Sharma        2019    13
DA Warner        2015    13
SE Marsh         2018    12
GJ Bailey        2016    11
S Dhawan         2018    11
SK Raina         2015    11
KM Jadhav        2017    11
AT Rayudu        2018    11
MS Dhoni         2015    10
TM Head          2017    10
AJ Finch         2017    10
                         ..
JR Hazlewood     2018     0
J Yadav          2016     0
JA Richardson    2018     0
                 2019     0
JJ Bumrah        2016     0
                 2017     0
                 2018     0
JL Pattinson     2015     0
JM Mennie        2016     0
JP Behrendorff   2019     0
JP Faulkner      2016     0
JR Hazlewood     2015     0
                 2016     0
                 2017     0
JS Paris         2016     0
YS Chahal        2019     0
SM Boland        2016     0
JW Hastings      2017     0
KD Karthik       2017     0
KK Ahmed         2018     0
                 2019     0
KK Nair          2016     0
SK Raina         2018     0
SE Marsh         2017     0
KW Richardson    2017     0
Kuldeep Yadav    2017     0
                 2018     0
                 2019     0
MA Starc         2015     0
A Mishra         2015     0
Name: 6s, Length: 224, dtype: int64